# 4.lekce PIVOT

In [2]:
import pandas as pd
cholesterol=pd.read_csv("https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/pivot-tabulky/pivot-tabulky/pivot_cholesterol.csv")
cholesterol.head()

    fdc_id  amount nutrient_name branded_food_category
0  1107295     0.0   Cholesterol                Chipsy
1  1107475    65.0   Cholesterol                  Sýry
2  1108349     0.0   Cholesterol              Cereálie
3  1109393   100.0   Cholesterol                  Sýry
4  1109400    36.0   Cholesterol               Sušenky

In [ ]:
"""
Obsah cholesterolu	Kategorie
0-20	Low Cholesterol
20-100	Moderate Cholesterol
100-inf	High Cholesterol
"""
bins = [0,20,100,float('inf')]# pozor neni to vcetne bere vetsi nez nula
bins = [-1,20,100,float('inf')]
labels = ['nizky','stredni','vysoky']
cholesterol['category'] = pd.cut(cholesterol["amount"],bins=bins,labels=labels)
cholesterol.head()

    fdc_id  amount nutrient_name branded_food_category category
0  1107295     0.0   Cholesterol                Chipsy    nizky
1  1107475    65.0   Cholesterol                  Sýry  stredni
2  1108349     0.0   Cholesterol              Cereálie    nizky
3  1109393   100.0   Cholesterol                  Sýry  stredni
4  1109400    36.0   Cholesterol               Sušenky  stredni

In [ ]:
#pivotka
pd.crosstab(cholesterol["branded_food_category"],cholesterol["category"])

category               nizky  stredni  vysoky
branded_food_category
Cereálie                 170        0       0
Chipsy                   211        3       0
Cukrovinky               277       18       0
Další snacky              86       31      20
En. tyčinky              163       16       1
Nakl. zelenina           115       11       1
Pečivo                   213       23       0
Slané snacky             473        6       0
Sušenky                  186       75       3
Sýry                      40      259     101
Zmrzlina                 105      185       6
Čokoláda                 148       34       0

In [8]:
#pridavam totals
pd.crosstab(cholesterol["branded_food_category"],cholesterol["category"],margins=True)

category               nizky  stredni  vysoky   All
branded_food_category
Cereálie                 170        0       0   170
Chipsy                   211        3       0   214
Cukrovinky               277       18       0   295
Další snacky              86       31      20   137
En. tyčinky              163       16       1   180
Nakl. zelenina           115       11       1   127
Pečivo                   213       23       0   236
Slané snacky             473        6       0   479
Sušenky                  186       75       3   264
Sýry                      40      259     101   400
Zmrzlina                 105      185       6   296
Čokoláda                 148       34       0   182
All                     2187      661     132  2980

In [ ]:
#chci to v % po radcich
pd.crosstab(cholesterol["branded_food_category"],cholesterol["category"],margins=True,normalize="index")

category                  nizky   stredni    vysoky
branded_food_category
Cereálie               1.000000  0.000000  0.000000
Chipsy                 0.985981  0.014019  0.000000
Cukrovinky             0.938983  0.061017  0.000000
Další snacky           0.627737  0.226277  0.145985
En. tyčinky            0.905556  0.088889  0.005556
Nakl. zelenina         0.905512  0.086614  0.007874
Pečivo                 0.902542  0.097458  0.000000
Slané snacky           0.987474  0.012526  0.000000
Sušenky                0.704545  0.284091  0.011364
Sýry                   0.100000  0.647500  0.252500
Zmrzlina               0.354730  0.625000  0.020270
Čokoláda               0.813187  0.186813  0.000000
All                    0.733893  0.221812  0.044295

In [10]:
#chci to v % po sloupcich
pd.crosstab(cholesterol["branded_food_category"],cholesterol["category"],margins=True,normalize="columns")

category                  nizky   stredni    vysoky       All
branded_food_category
Cereálie               0.077732  0.000000  0.000000  0.057047
Chipsy                 0.096479  0.004539  0.000000  0.071812
Cukrovinky             0.126658  0.027231  0.000000  0.098993
Další snacky           0.039323  0.046899  0.151515  0.045973
En. tyčinky            0.074531  0.024206  0.007576  0.060403
Nakl. zelenina         0.052583  0.016641  0.007576  0.042617
Pečivo                 0.097394  0.034796  0.000000  0.079195
Slané snacky           0.216278  0.009077  0.000000  0.160738
Sušenky                0.085048  0.113464  0.022727  0.088591
Sýry                   0.018290  0.391831  0.765152  0.134228
Zmrzlina               0.048011  0.279879  0.045455  0.099329
Čokoláda               0.067673  0.051437  0.000000  0.061074

In [11]:
#chci to v % na dve desetinne po sloupcich
pd.crosstab(index=cholesterol["branded_food_category"], 
            columns=cholesterol["category"],
            margins=True,
            normalize="columns").style.format("{:.2%}")

In [ ]:
#novy dataset
cholesterol_fiber = pd.read_csv("https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/pivot-tabulky/pivot-tabulky/pivot_cholesterol_fiber.csv")
cholesterol_fiber.tail()

       fdc_id  amount         nutrient_name branded_food_category
5971  2659382     0.0  Fiber, total dietary                  Sýry
5972  2660573     0.0  Fiber, total dietary                  Sýry
5973  2660613    10.0  Fiber, total dietary          Slané snacky
5974  2661380     3.6  Fiber, total dietary                Chipsy
5975  2662107     0.0  Fiber, total dietary                  Sýry

In [ ]:
#chci videt prumerne hodnoty
pd.crosstab(index = cholesterol_fiber["branded_food_category"],
            columns= cholesterol_fiber['nutrient_name'],
            values=cholesterol_fiber["amount"],
            aggfunc='mean'
            )

nutrient_name          Cholesterol  Fiber, total dietary
branded_food_category
Cereálie                  0.241176              7.539344
Chipsy                    0.948598              5.423182
Cukrovinky                5.498305              1.382993
Další snacky             34.854015              3.278571
En. tyčinky               6.450000              8.783422
Nakl. zelenina            6.708661              1.890244
Pečivo                    5.305085              3.735246
Slané snacky              1.526096              7.230321
Sušenky                  18.731061              2.280075
Sýry                     76.840000              0.170419
Zmrzlina                 49.158784              1.182927
Čokoláda                 11.785714              4.787097

# DATE TIME

In [ ]:
#tel.signal mame data kdy ztracen a kdy je obnoven
signal_monitoring = pd.read_csv("https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/datum-cas-shift/datum-cas/signal_monitoring.csv")
signal_monitoring.head()

        event_type      event_date_time
0      signal lost  2021-02-03 00:40:08
1  signal restored  2021-02-03 01:14:11
2      signal lost  2021-02-05 19:14:19
3  signal restored  2021-02-05 19:46:29
4      signal lost  2021-02-06 14:31:34

In [21]:
signal_monitoring['event_type'].unique()
signal_monitoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_type       28 non-null     object
 1   event_date_time  28 non-null     object
dtypes: object(2)
memory usage: 576.0+ bytes

In [ ]:
# ktery den v tydnu je nejvice vypadku?
# musim pretypovat na datetime
signal_monitoring['event_date_time'] = pd.to_datetime(signal_monitoring['event_date_time'])  
signal_monitoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_type       28 non-null     object
 1   event_date_time  28 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 576.0+ bytes

In [ ]:
# prevod na date
signal_monitoring['event_date'] = signal_monitoring['event_date_time'].dt.date
signal_monitoring.head()

        event_type     event_date_time  event_date
0      signal lost 2021-02-03 00:40:08  2021-02-03
1  signal restored 2021-02-03 01:14:11  2021-02-03
2      signal lost 2021-02-05 19:14:19  2021-02-05
3  signal restored 2021-02-05 19:46:29  2021-02-05
4      signal lost 2021-02-06 14:31:34  2021-02-06

In [35]:
#den v tydnu
signal_monitoring['event_day_of_week'] = signal_monitoring['event_date_time'].dt.day_name()
signal_monitoring.head()

        event_type     event_date_time  event_date event_day_of_week
0      signal lost 2021-02-03 00:40:08  2021-02-03         Wednesday
1  signal restored 2021-02-03 01:14:11  2021-02-03         Wednesday
2      signal lost 2021-02-05 19:14:19  2021-02-05            Friday
3  signal restored 2021-02-05 19:46:29  2021-02-05            Friday
4      signal lost 2021-02-06 14:31:34  2021-02-06          Saturday

In [40]:
pd.crosstab(index=signal_monitoring['event_day_of_week'],columns=signal_monitoring['event_type'])

event_type         signal lost  signal restored
event_day_of_week
Friday                       4                4
Monday                       3                3
Saturday                     2                2
Thursday                     1                1
Tuesday                      3                3
Wednesday                    1                1

In [44]:
# ...jak dlouho to trvalo?
signal_monitoring['event_end'] = signal_monitoring['event_date_time'].shift(periods = -1)
signal_monitoring.head()

,event_type,event_date_time,event_date,event_day_of_week,event_end
0,signal lost,2021-02-03 00:40:08,2021-02-03,Wednesday,2021-02-03 01:14:11
1,signal restored,2021-02-03 01:14:11,2021-02-03,Wednesday,2021-02-05 19:14:19
2,signal lost,2021-02-05 19:14:19,2021-02-05,Friday,2021-02-05 19:46:29
3,signal restored,2021-02-05 19:46:29,2021-02-05,Friday,2021-02-06 14:31:34
4,signal lost,2021-02-06 14:31:34,2021-02-06,Saturday,2021-02-06 14:48:24

In [46]:
signal_monitoring = signal_monitoring[signal_monitoring["event_type"] == "signal lost"].reset_index(drop=True)

In [ ]:
# trvani vypadku
signal_monitoring['outage_length'] = signal_monitoring['event_end']-signal_monitoring['event_date_time']
signal_monitoring.head()

,event_type,event_date_time,event_date,event_day_of_week,event_end,outage_length
0,signal lost,2021-02-03 00:40:08,2021-02-03,Wednesday,2021-02-03 01:14:11,0 days 00:34:03
1,signal lost,2021-02-05 19:14:19,2021-02-05,Friday,2021-02-05 19:46:29,0 days 00:32:10
2,signal lost,2021-02-06 14:31:34,2021-02-06,Saturday,2021-02-06 14:48:24,0 days 00:16:50
3,signal lost,2021-02-08 04:59:20,2021-02-08,Monday,2021-02-08 05:38:29,0 days 00:39:09
4,signal lost,2021-02-09 14:21:25,2021-02-09,Tuesday,2021-02-09 14:42:22,0 days 00:20:57

In [48]:
signal_monitoring.groupby('event_date')['outage_length'].sum()

event_date
2021-02-03   0 days 00:34:03
2021-02-05   0 days 00:32:10
2021-02-06   0 days 00:16:50
2021-02-08   0 days 00:39:09
2021-02-09   0 days 00:44:38
2021-02-12   0 days 01:02:07
2021-02-13   0 days 00:15:34
2021-02-15   0 days 00:50:33
2021-02-16   0 days 00:13:26
2021-02-18   0 days 00:47:35
2021-02-19   0 days 00:12:33
2021-02-22   0 days 00:59:46
Name: outage_length, dtype: timedelta64[ns]