# Ukol 4

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"
data = pd.read_csv(url)
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [18]:
bins = [-1,180,200,float('inf')]
labels = ['short','medium','long']
data['category'] = pd.cut(data['flipper_length_mm'],bins= bins,labels=labels)
data[data['category'] =='long']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,category
90,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008,long
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008,long
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008,long
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009,long
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009,long
...,...,...,...,...,...,...,...,...,...
334,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,long
336,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,long
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,long
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,long
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,long

In [10]:
pd.crosstab(index=data['species'], columns=data['island'])

island     Biscoe  Dream  Torgersen
species
Adelie         44     56         52
Chinstrap       0     68          0
Gentoo        124      0          0

In [13]:
pd.crosstab(index=data['species'], columns=data['island'],normalize='index')

island       Biscoe     Dream  Torgersen
species
Adelie     0.289474  0.368421   0.342105
Chinstrap  0.000000  1.000000   0.000000
Gentoo     1.000000  0.000000   0.000000

In [16]:
pd.pivot_table(data,
               index=data['species'],
               columns=data['sex'],
               aggfunc={'bill_depth_mm': "mean"}
               )

          bill_depth_mm
sex              female       male
species
Adelie        17.621918  19.072603
Chinstrap     17.588235  19.252941
Gentoo        14.237931  15.718033