In [18]:
# Načteme tabulky o potravinách
import pandas as pd
url_food_sample_100 = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat/food_sample_100.csv"
url_food_other = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/sjednoceni-dat/food_other.csv"
url_food_nutrient = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/food_nutrient.csv"
url_branded_food = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/excs/znacky/branded_food.csv"
food_sample_100 = pd.read_csv(url_food_sample_100)
food_other = pd.read_csv(url_food_other)
food_nutrient = pd.read_csv(url_food_nutrient)
branded_food = pd.read_csv(url_branded_food)
food = pd.concat([food_sample_100, food_other], ignore_index=True)
food_merge = pd.merge(food,food_nutrient, on ='fdc_id', how = 'inner') # HOW = 'left'/'right'/'inner'/'outer'/'cross'/
food_merged_brands = pd.merge(food_merge,branded_food, on='fdc_id', how='left') 
food_merged_brands = food_merged_brands.rename(columns={"name": "nutrition_name"})

In [11]:
food_merged_brands_lipid = food_merged_brands[food_merged_brands["nutrition_name"] == "Total lipid (fat)"]
food_merged_brands_lipid.head(3)

,fdc_id,data_type,description,food_category_id,publication_date,nutrient_id,amount,data_points,derivation_id,min,...,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
14,335770,agricultural_acquisition,"Beans, Dry, Small Red, 471 (0% moisture)",16.0,2019-04-01,1004,1.26,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2004789,sub_sample_food,"GRAPE JUICE, PURPLE, FROM CONCENTRATE WITH ADD...",9.0,2021-10-15,1004,0.25,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,335751,agricultural_acquisition,"Beans, Dry, Small Red, 646 (0% moisture)",16.0,2019-04-01,1004,1.27,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# proveď agregaci podle názvu kategorie s tím, že vypočítej průměrné množství tuků. Výslednou tabulku seřaď sestupně
lipid_agg = food_merged_brands_lipid.groupby('branded_food_category')['amount'].mean().sort_values(ascending=False)
lipid_agg

branded_food_category
Oils Edible                                        93.330000
Vegetable & Cooking Oils                           78.012391
Butter & Spread                                    66.552667
Butter/Butter Substitutes                          63.965000
Meat/Poultry/Other Animals – Prepared/Processed    59.520000
                                                     ...
Pickles/Relishes/Chutneys/Olives                    0.000000
Specialty Formula Supplements                       0.000000
Spreads                                             0.000000
Syrups & Molasses                                   0.000000
Water                                               0.000000
Name: amount, Length: 193, dtype: float64

In [20]:
food_merged_brands.groupby(by=['branded_food_category','brand_owner'])['fdc_id'].nunique().sort_values(ascending=False)

branded_food_category      brand_owner
Candy                      Ferrara Candy Company       40
Prepared Soups             CAMPBELL SOUP COMPANY       29
Yogurt                     Danone US, LLC              24
Ice Cream & Frozen Yogurt  Wells Enterprises, Inc.     24
Breads & Buns              Bimbo Bakeries USA, Inc.    24
                                                       ..
Yogurt                     Whole Foods Market, Inc.     1
Cereal                     Rol Rom Foods                1
Yogurt (Perishable)        GENERAL MILLS SALES INC.     1
Yogurt/Yogurt Substitutes  Conagra Brands Inc           1
All Noodles                Tsue Chong Co Inc            1
Name: fdc_id, Length: 5892, dtype: int64

In [6]:
# hlas volby
import pandas as pd
votes = pd.read_csv("votes.csv")
votes.head(5)

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [25]:
#Celkový počet odevzdaných hlasů v jednotlivých letech
votes.groupby("year")["totalvotes"].sum().sort_values(ascending=False)

year
2020    1865852281
2008     992684830
2016     941573717
2012     879479158
2000     783441739
1992     770486377
2004     768259747
1996     728343795
1980     663902096
1984     609936856
1976     605944064
1988     537099170
Name: totalvotes, dtype: int64

In [28]:
#Celkový počet odevzdaných hlasů pro kandidáty a kandidátky jednotlivých stran pro volby v roce 2020.
votes2020 = votes[votes['year']==2020]
votes2020.groupby(by=['party_detailed','candidate'])['candidatevotes'].sum().sort_values(ascending=False)

party_detailed      candidate
DEMOCRAT            BIDEN, JOSEPH R. JR       81268908
REPUBLICAN          TRUMP, DONALD J.          74216146
LIBERTARIAN         JORGENSEN, JO              1797355
GREEN               HAWKINS, HOWIE              368274
INDEPENDENT         JORGENSEN, JO                68368
                                                ...
NON-AFFILIATED      WELLS, KASEY                    54
INDEPENDENT         KOPITKE, KYLE KENLEY            53
CONSTITUTION PARTY  CUMMINGS, DANIEL CLYDE          36
INDEPENDENT         KISHORE, JOSEPH                 33
                    SCALF, ZACHARY                  29
Name: candidatevotes, Length: 75, dtype: int64

In [8]:
#Celkový počet odevzdaných hlasů pro kandidáty dvou hlavních stran (DEMOCRAT a REPUBLICAN) pro všechny volby od roku 2020.
year = 2020
filter = (votes['party_detailed'].isin(['DEMOCRAT','REPUBLICAN'])) &  (votes['year']>=year)
votes[filter].groupby(by=['year','party_simplified'])['candidatevotes'].sum().sort_values(ascending=False)

year  party_simplified
2020  DEMOCRAT            81268908
      REPUBLICAN          74216146
Name: candidatevotes, dtype: int64

In [ ]:
#Celkový počet odevzdaných hlasů pro stát MONTANA pro všechny roky.
votesMontana = votes[votes['state']=='MONTANA']
votesMontana.groupby('state')['candidatevotes'].sum()

state
MONTANA    25810758
Name: totalvotes, dtype: int64

In [17]:
#pořadí pro každý stát a rok aby číslo 1 měl(a) vždy vítěz(ka) 
votes['rank'] = votes[filter].groupby(by=['state','year'])['candidatevotes'].rank(ascending=False)
#Vytvoř tabulku, která bude obsahovat vítěznou stranu v jednotlivých státech ve volbách v roce 2020
podminka1 = votes['year']==2020
podminka2 = votes['rank']==1
winners_by_state_2020 = votes[(podminka1) &(podminka2)][['year','state','party_detailed']]
winners_by_state_2020.head()

      year       state party_detailed
3741  2020     ALABAMA     REPUBLICAN
3745  2020      ALASKA     REPUBLICAN
3752  2020     ARIZONA       DEMOCRAT
3771  2020    ARKANSAS     REPUBLICAN
3773  2020  CALIFORNIA       DEMOCRAT

In [19]:
pd.merge(votes,food_sample_100)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False