# 3.lekce AGREGACE A SPOJOVANI

In [ ]:
# nacteni dat
import pandas as pd
url_food_sample_100 = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat/food_sample_100.csv"
url_food_other = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/sjednoceni-dat/food_other.csv"
url_food_nutrient = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/food_nutrient.csv"
url_branded_food = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/spojovani/excs/znacky/branded_food.csv"
food_sample_100 = pd.read_csv(url_food_sample_100)
food_other = pd.read_csv(url_food_other)
food_nutrient = pd.read_csv(url_food_nutrient)
branded_food = pd.read_csv(url_branded_food)

In [ ]:
# nahled
food_sample_100

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
95,2260615,sub_sample_food,"Yogurt, whole milk, plain",1.0,2022-04-28
96,2646468,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
97,2647032,sub_sample_food,"pork, loin, boneless",10.0,2023-10-19
98,2349564,sub_sample_food,"Oats, whole grain, rolled, old fashioned",20.0,2022-10-28
99,328565,market_acquisition,"Cheese, cheddar, mild, block/chunk, store bran...",1.0,2019-04-01

In [5]:
# velikost dat
print(food_sample_100.shape)
print(food_other.shape)

(100, 5)
(9900, 5)

In [ ]:
# spojeni tabuli - CONCAT() = SQL UNION - spoji i nestejne ale atributy z jedne tab ktere nejsou v druhe naplni null hodnotami
food = pd.concat([food_sample_100,food_other])
food

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
9895,2661515,branded_food,"CHAI LATTE SUGAR FREE BLACK TEA CONCENTRATE, C...",NaN,2023-10-26
9896,2661730,branded_food,"APPLE BANANA ORGANIC FRUIT POUCHES, APPLE BANANA",NaN,2023-10-26
9897,2661782,branded_food,"SPINACH ORGANIC PUREE, SPINACH",NaN,2023-10-26
9898,2662107,branded_food,LIGHT MOZZARELLA LOW-MOISTURE PART-SKIM STRING...,NaN,2023-10-26
9899,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26

In [8]:
#reset index
food = pd.concat([food_sample_100, food_other], ignore_index=True)
food

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
9995,2661515,branded_food,"CHAI LATTE SUGAR FREE BLACK TEA CONCENTRATE, C...",NaN,2023-10-26
9996,2661730,branded_food,"APPLE BANANA ORGANIC FRUIT POUCHES, APPLE BANANA",NaN,2023-10-26
9997,2661782,branded_food,"SPINACH ORGANIC PUREE, SPINACH",NaN,2023-10-26
9998,2662107,branded_food,LIGHT MOZZARELLA LOW-MOISTURE PART-SKIM STRING...,NaN,2023-10-26
9999,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26

In [9]:
food_nutrient

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135331,2614074,2068,0.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135332,2622536,2068,2.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135333,2622742,2068,13.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135334,2627542,2068,2.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135335,2654454,2068,25.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG

In [34]:
# spojeni pres klic = SQL JOIN
pd.merge(food,food_nutrient)    #spoji pres stejne nazvany klic
pd.merge(food,food_nutrient, on ='fdc_id')    # ON explicitne vybrany klic #default je inner join
food_merge = pd.merge(food,food_nutrient, on ='fdc_id', how = 'inner') # HOW = 'left'/'right'/'inner'/'outer'/'cross'/
food_merge

,fdc_id,data_type,description,food_category_id,publication_date,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19,1101,1.58,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Manganese, Mn",MG
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28,1258,20.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28,1102,21.80,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Molybdenum, Mo",UG
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1051,0.69,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Water,G
4,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1007,98.40,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Ash,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135331,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26,1005,4.07,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Carbohydrate, by difference",G
135332,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26,1004,0.41,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Total lipid (fat),G
135333,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26,1003,0.81,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Protein,G
135334,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26,1235,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sugars, added",G
135335,2662182,branded_food,"ITALIAN-STYLE DICED TOMATOES WITH BASIL, GARLI...",NaN,2023-10-26,1114,0.00,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin D (D2 + D3),UG

In [18]:
#cviceni
branded_food.head(5)

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
0,1106032,BRAKEBUSH BROTHERS INC.,NaN,NaN,10038034720202,INGREDIENTS: BONELESS CHICKEN BREAST MEAT WITH...,NaN,85.0,g,NaN,Meat/Poultry/Other Animals Prepared/Processed,GDSN,NaN,2020-09-03,2020-11-13,United States,NaN,NaN,NaN,NaN
1,1107191,Mahco Inc,NaN,NaN,877448001674,"TOMATO PUREE (TOMATOES), CARROTS, ONIONS, SUN-...",NaN,125.0,g,NaN,Prepared Pasta & Pizza Sauces,LI,NaN,2020-09-22,2020-11-13,United States,NaN,NaN,NaN,NaN
2,1107295,Hormel Foods Corporation,NaN,NaN,37600665605,MASA FLOUR (GROUND WHITE CORN WITH A TRACE OF ...,NaN,30.0,g,NaN,"Chips, Pretzels & Snacks",LI,NaN,2020-04-08,2020-11-13,United States,NaN,NaN,NaN,NaN
3,1107475,HP Hood LLC,NaN,NaN,73570130330,"CULTURED PASTEURIZED MILK, CREAM AND NONFAT MI...",NaN,31.0,g,NaN,Cheese,LI,NaN,2020-04-08,2020-11-13,United States,NaN,NaN,NaN,NaN
4,1107528,Bar-S Foods Co.,NaN,NaN,15900002115,"MECHANICALLY SEPARATED CHICKEN, WATER, PORK, D...",NaN,56.0,g,NaN,"Sausages, Hotdogs & Brats",LI,NaN,2020-04-08,2020-11-13,United States,NaN,NaN,NaN,NaN

In [28]:
#cviceni Zjisti tři výrobce s největším počtem potravin v tabulce.
branded_food["brand_owner"].value_counts().head(3)

brand_owner
Wal-Mart Stores, Inc.    219
Target Stores            199
Meijer, Inc.             168
Name: count, dtype: int64

In [29]:
#cviceni Zjisti pět kategorií s největších počtem potravin v tabulce.
branded_food["branded_food_category"].value_counts().head(3)

branded_food_category
Popcorn, Peanuts, Seeds & Related Snacks    504
Candy                                       415
Cheese                                      405
Name: count, dtype: int64

In [38]:
print(branded_food.shape)
food_merge = pd.merge(food,food_nutrient, on ='fdc_id', how = 'inner') # HOW = 'left'/'right'/'inner'/'outer'/'cross'/
food_merge.shape

(9541, 20)

(135336, 17)

In [ ]:
# cvicenie inner join 
food_merged_brands = pd.merge(food_merge,branded_food, left_on='fdc_id', right_on='fdc_id') 
food_merged_brands.shape

(129284, 36)

In [43]:
# cvicenie left join 
food_merged_brands = pd.merge(food_merge,branded_food, on='fdc_id', how='left') 
food_merged_brands.shape

(135336, 36)

In [44]:
food_merged_brands.columns

Index(['fdc_id', 'data_type', 'description', 'food_category_id',
       'publication_date', 'nutrient_id', 'amount', 'data_points',
       'derivation_id', 'min', 'max', 'median', 'loq', 'footnote',
       'min_year_acquired', 'name', 'unit_name', 'brand_owner', 'brand_name',
       'subbrand_name', 'gtin_upc', 'ingredients',
       'not_a_significant_source_of', 'serving_size', 'serving_size_unit',
       'household_serving_fulltext', 'branded_food_category', 'data_source',
       'package_weight', 'modified_date', 'available_date', 'market_country',
       'discontinued_date', 'preparation_state_code', 'trade_channel',
       'short_description'],
      dtype='object')

In [52]:
food_merged_brands = food_merged_brands.rename(columns={"name": "nutrition_name"})
food_merged_brands.columns

Index(['fdc_id', 'data_type', 'description', 'food_category_id',
       'publication_date', 'nutrient_id', 'amount', 'data_points',
       'derivation_id', 'min', 'max', 'median', 'loq', 'footnote',
       'min_year_acquired', 'nutrition_name', 'unit_name', 'brand_owner',
       'brand_name', 'subbrand_name', 'gtin_upc', 'ingredients',
       'not_a_significant_source_of', 'serving_size', 'serving_size_unit',
       'household_serving_fulltext', 'branded_food_category', 'data_source',
       'package_weight', 'modified_date', 'available_date', 'market_country',
       'discontinued_date', 'preparation_state_code', 'trade_channel',
       'short_description'],
      dtype='object')

In [45]:
food_merged_brands.head()

,fdc_id,data_type,description,food_category_id,publication_date,nutrient_id,amount,data_points,derivation_id,min,...,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19,1101,1.58,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28,1258,20.00,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28,1102,21.80,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1051,0.69,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01,1007,98.40,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
#filtrujeme protein a prumerny mnozstvi
#protein = food_merged_brands[food_merged_brands["nutrient_name"] == "Protein"]
protein = food_merged_brands[food_merged_brands["nutrition_name"] == "Protein"]

In [ ]:
#prumer pres kategorii
protein.groupby('branded_food_category')['amount'].mean()

branded_food_category
Alcohol                          0.684000
All Noodles                     11.107368
Baby/Infant  Foods/Beverages     1.140000
Bacon                           45.200000
Bacon, Sausages & Ribs          27.239630
                                  ...
Weight Control                   3.080000
Wholesome Snacks                 1.485645
Yogurt                           5.596461
Yogurt (Perishable)              4.320000
Yogurt/Yogurt Substitutes        5.578333
Name: amount, Length: 193, dtype: float64

In [57]:
# serazeni 
protein.groupby('branded_food_category')['amount'].mean().sort_values(ascending=False)

branded_food_category
Bacon                                       45.200000
Green Supplements                           44.590000
Drinks Flavoured - Ready to Drink           32.900000
Energy, Protein & Muscle Recovery Drinks    31.831481
Bacon, Sausages & Ribs                      27.239630
                                              ...
Pickles/Relishes/Chutneys/Olives             0.000000
Sport Drinks                                 0.000000
Specialty Formula Supplements                0.000000
Spreads                                      0.000000
Vegetable & Cooking Oils                     0.000000
Name: amount, Length: 193, dtype: float64

In [58]:
protein.groupby("branded_food_category")["amount"].mean().sort_values(ascending=False)

branded_food_category
Bacon                                       45.200000
Green Supplements                           44.590000
Drinks Flavoured - Ready to Drink           32.900000
Energy, Protein & Muscle Recovery Drinks    31.831481
Bacon, Sausages & Ribs                      27.239630
                                              ...
Pickles/Relishes/Chutneys/Olives             0.000000
Sport Drinks                                 0.000000
Specialty Formula Supplements                0.000000
Spreads                                      0.000000
Vegetable & Cooking Oils                     0.000000
Name: amount, Length: 193, dtype: float64

In [62]:
protein_agg = protein.groupby("branded_food_category")["amount"].mean().sort_values(ascending=False).head(10)
protein_agg

branded_food_category
Bacon                                                  45.200000
Green Supplements                                      44.590000
Drinks Flavoured - Ready to Drink                      32.900000
Energy, Protein & Muscle Recovery Drinks               31.831481
Bacon, Sausages & Ribs                                 27.239630
Canned Tuna                                            21.648889
Meat/Poultry/Other Animals  Prepared/Processed         21.522368
Nut & Seed Butters                                     20.651270
Cheese                                                 19.969457
Meat/Poultry/Other Animals – Unprepared/Unprocessed    19.640000
Name: amount, dtype: float64