In [ ]:
# LEKCE 02 PODMINENY VYBER
import pandas as pd

ERROR! Session/line number was not unique in database. History logging moved to new session 8

In [17]:
food_nutrient = pd.read_csv("food_nutrient.csv")
food_nutrient.head()

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

In [10]:
food_nutrient.columns

Index(['fdc_id', 'nutrient_id', 'amount', 'data_points', 'derivation_id',
       'min', 'max', 'median', 'loq', 'footnote', 'min_year_acquired', 'name',
       'unit_name'],
      dtype='object')

In [18]:
food_nutrient = food_nutrient.drop(columns=['data_points', 'derivation_id',
       'min', 'max', 'median', 'loq', 'footnote', 'min_year_acquired',])

In [12]:
food_nutrient.columns

Index(['fdc_id', 'nutrient_id', 'amount', 'name', 'unit_name'], dtype='object')

In [13]:
food_nutrient.head()

    fdc_id  nutrient_id  amount                      name unit_name
0  1106032         1257     NaN  Fatty acids, total trans         G
1  1107191         1257     NaN  Fatty acids, total trans         G
2  1107295         1257     NaN  Fatty acids, total trans         G
3  1107475         1257     NaN  Fatty acids, total trans         G
4  1107528         1257     0.0  Fatty acids, total trans         G

In [14]:
food_nutrient['name'].unique()

array(['Fatty acids, total trans', 'Fatty acids, total polyunsaturated',
       'Cholesterol', 'Potassium, K', 'Energy', 'Iron, Fe',
       'Vitamin C, total ascorbic acid', 'Fatty acids, total saturated',
       'Calcium, Ca', 'Fatty acids, total monounsaturated', 'Sodium, Na',
       'Vitamin A, IU', 'Sugars, total including NLEA',
       'Fiber, total dietary', 'Vitamin D (D2 + D3), International Units',
       'Carbohydrate, by difference', 'Total lipid (fat)', 'Protein',
       'Folic acid', 'Folate, DFE', 'Riboflavin', 'Thiamin',
       'Vitamin B-12', 'Vitamin B-6', 'Phosphorus, P', 'Manganese, Mn',
       'Magnesium, Mg', 'Niacin', 'Sugars, added', 'Folate, total',
       'Selenium, Se', 'Pantothenic acid', 'Iodine, I', 'Zinc, Zn',
       'Vitamin E', 'Fiber, soluble', 'Fiber, insoluble',
       'Total sugar alcohols', 'Vitamin K (phylloquinone)', 'Copper, Cu',
       'Carbohydrate, other', 'Molybdenum, Mo', 'Chromium, Cr', 'Biotin',
       'Inulin', 'Vitamin E (alpha-tocopherol)', 'Xylitol',
       'Choline, total', 'Chlorine, Cl', 'Lactose',
       'Vitamin D3 (cholecalciferol)', 'Water', 'Ash', 'Vitamin A, RAE',
       'Retinol', 'MUFA 18:1', 'SFA 16:0', 'PUFA 18:3', 'PUFA 18:2',
       'Carotene, alpha', 'Starch', 'Tocotrienol, alpha', 'MUFA 15:1',
       'Tryptophan', 'Carotene, beta', 'PUFA 22:5 n-3 (DPA)', 'SFA 18:0',
       'Tocotrienol, beta', 'MUFA 22:1', 'SFA 22:0', 'PUFA 18:4',
       'Tocotrienol, delta', 'Maltose', 'Tocopherol, delta', 'Methionine',
       'PUFA 20:3', 'Glutamic acid', 'PUFA 18:3 n-6 c,c,c', 'Fructose',
       'Glucose', 'Tocopherol, beta', 'Vitamin E, added', 'Sucrose',
       'Aspartic acid', 'Phenylalanine', 'Cystine', 'Glycine',
       'Galactose', 'Theobromine', 'SFA 4:0', 'Valine', 'MUFA 14:1',
       'Threonine', 'PUFA 22:6 n-3 (DHA)', 'SFA 14:0', 'Alcohol, ethyl',
       'PUFA 20:2 n-6 c,c', 'Tocopherol, gamma', 'SFA 6:0', 'SFA 8:0',
       'SFA 10:0', 'Histidine', 'Lycopene', 'Arginine', 'Folate, food',
       'SFA 20:0', 'Vitamin K (Dihydrophylloquinone)', 'MUFA 17:1',
       'Lysine', 'SFA 17:0', 'Tocotrienol, gamma', 'Serine', 'Caffeine',
       'Proline', 'MUFA 20:1', 'Tyrosine', 'Cryptoxanthin, beta',
       'SFA 12:0', 'Isoleucine', 'SFA 15:0', 'MUFA 16:1',
       'Lutein + zeaxanthin', 'Leucine', 'Vitamin B-12, added', 'Alanine',
       'PUFA 20:5 n-3 (EPA)', 'PUFA 20:4', 'Vitamin D (D2 + D3)',
       'Betaine', 'Vitamin K (Menaquinone-4)', 'MUFA 16:1 c', 'PUFA 21:5',
       'MUFA 24:1 c', 'SFA 24:0', 'PUFA 22:4', 'Hydroxyproline',
       'PUFA 18:3 n-3 c,c,c (ALA)', 'TFA 18:2 t,t',
       'Fatty acids, total trans-polyenoic',
       'Fatty acids, total trans-monoenoic', 'TFA 18:1 t',
       'PUFA 18:2 n-6 c,c', 'PUFA 18:2 CLAs', 'MUFA 22:1 c',
       'TFA 18:2 t not further defined', 'PUFA 20:3 n-3', 'TFA 22:1 t',
       'MUFA 18:1 c', 'PUFA 20:3 n-6', 'TFA 16:1 t', 'Fluoride, F',
       'PUFA 18:3i', 'Stigmasterol', 'Beta-sitosterol', 'Campesterol',
       'PUFA 18:2 i', 'SFA 13:0', 'Phytosterols',
       'Vitamin D2 (ergocalciferol)', 'Nitrogen', 'SFA 11:0',
       'PUFA 20:3 n-9', 'MUFA 20:1 c', 'PUFA 22:2', 'MUFA 22:1 n-9',
       'TFA 18:3 t', 'MUFA 14:1 c', '25-hydroxycholecalciferol',
       'SFA 21:0', 'SFA 9:0', 'SFA 7:0', 'MUFA 22:1 n-11', 'PUFA 22:3',
       'SFA 23:0', 'TFA 14:1 t', 'TFA 20:1 t', 'MUFA 12:1', 'SFA 5:0',
       'Cysteine', 'Zeaxanthin', 'trans-beta-Carotene', 'trans-Lycopene',
       'Lutein', 'cis-beta-Carotene', 'cis-Lycopene',
       'Cryptoxanthin, alpha', 'cis-Lutein/Zeaxanthin',
       'Total fat (NLEA)', 'Sugars, Total', 'Sulfur, S', 'Cobalt, Co',
       'Boron, B', 'Nickel, Ni', 'Vitamin E (label entry primarily)',
       'Epigallocatechin-3-gallate', 'Beta-sitostanol',
       'Delta-5-avenasterol', 'Stigmastadiene', 'Delta-7-Stigmastenol',
       'Beta-glucan', 'Ergosterol', ' Ergosta-5,7-dienol', 'Oxalic acid',
       'High Molecular Weight Dietary Fiber (HMWDF)', 'Vitamin A'],
      dtype=object)

In [15]:
food_nutrient['name'].value_counts()

name
Protein                        9553
Sodium, Na                     9499
Energy                         9473
Total lipid (fat)              9413
Carbohydrate, by difference    9357
                               ...
Epigallocatechin-3-gallate        1
Ergosterol                        1
Delta-7-Stigmastenol              1
Stigmastadiene                    1
 Ergosta-5,7-dienol               1
Name: count, Length: 205, dtype: int64

In [19]:
food_nutrient['name'] == 'Magnesium, Mg'

0         False
1         False
2         False
3         False
4         False
          ...
135331    False
135332    False
135333    False
135334    False
135335    False
Name: name, Length: 135336, dtype: bool

In [22]:
food_nutrient[food_nutrient['name'] == 'Magnesium, Mg'] #filtrace zaznamu kde je Magnesium
podminka =  food_nutrient['name'] == 'Magnesium, Mg'
food_nutrient[podminka] #2.zpusob podmineneho filtrovani
magnesium = food_nutrient[podminka]#ukladam do promenne 
magnesium

         fdc_id  nutrient_id  amount           name unit_name
125766  1108349         1090   147.0  Magnesium, Mg        MG
125767  1109796         1090   156.0  Magnesium, Mg        MG
125768  1114461         1090   107.0  Magnesium, Mg        MG
125769  1114961         1090   267.0  Magnesium, Mg        MG
125770  1118500         1090   158.0  Magnesium, Mg        MG
...         ...          ...     ...            ...       ...
126155  2645435         1090    28.9  Magnesium, Mg        MG
126156  2653037         1090     4.0  Magnesium, Mg        MG
126157  2654454         1090   257.0  Magnesium, Mg        MG
126158  2658921         1090     8.0  Magnesium, Mg        MG
126159  2661782         1090    50.0  Magnesium, Mg        MG

[394 rows x 5 columns]

In [ ]:
magnesium.describe()#popisni statistika, zjistim prumerny obsah napr

             fdc_id  nutrient_id       amount
count  3.940000e+02        394.0   394.000000
mean   1.494746e+06       1090.0   102.079797
std    8.224790e+05          0.0   210.755384
min    1.675510e+05       1090.0     0.000000
25%    6.561875e+05       1090.0    13.000000
50%    1.674326e+06       1090.0    43.000000
75%    2.265302e+06       1090.0   124.250000
max    2.661782e+06       1090.0  2941.000000

In [28]:
magnesium['amount'].describe()

count     394.000000
mean      102.079797
std       210.755384
min         0.000000
25%        13.000000
50%        43.000000
75%       124.250000
max      2941.000000
Name: amount, dtype: float64

In [29]:
magnesium['amount']>100
magnesium[magnesium['amount']>100]

         fdc_id  nutrient_id  amount           name unit_name
125766  1108349         1090   147.0  Magnesium, Mg        MG
125767  1109796         1090   156.0  Magnesium, Mg        MG
125768  1114461         1090   107.0  Magnesium, Mg        MG
125769  1114961         1090   267.0  Magnesium, Mg        MG
125770  1118500         1090   158.0  Magnesium, Mg        MG
...         ...          ...     ...            ...       ...
126141  2550641         1090   218.0  Magnesium, Mg        MG
126147  2558685         1090   133.0  Magnesium, Mg        MG
126148  2592707         1090   207.0  Magnesium, Mg        MG
126154  2627542         1090   118.0  Magnesium, Mg        MG
126157  2654454         1090   257.0  Magnesium, Mg        MG

[117 rows x 5 columns]

##Operatory pro podminky
''' 
> 
< 
== 
!=
'''

In [31]:
is_magnesium = food_nutrient["name"] == "Magnesium, Mg"
is_over_limit = food_nutrient["amount"] > 100
food_nutrient[
    (is_magnesium) 
    & (is_over_limit)
    ]

         fdc_id  nutrient_id  amount           name unit_name
125766  1108349         1090   147.0  Magnesium, Mg        MG
125767  1109796         1090   156.0  Magnesium, Mg        MG
125768  1114461         1090   107.0  Magnesium, Mg        MG
125769  1114961         1090   267.0  Magnesium, Mg        MG
125770  1118500         1090   158.0  Magnesium, Mg        MG
...         ...          ...     ...            ...       ...
126141  2550641         1090   218.0  Magnesium, Mg        MG
126147  2558685         1090   133.0  Magnesium, Mg        MG
126148  2592707         1090   207.0  Magnesium, Mg        MG
126154  2627542         1090   118.0  Magnesium, Mg        MG
126157  2654454         1090   257.0  Magnesium, Mg        MG

[117 rows x 5 columns]

In [35]:
calcium = food_nutrient[ (food_nutrient['name']=='Calcium, Ca' )
                        & (food_nutrient['amount'] > 30)
                        & (food_nutrient['amount'] < 500)
                        ]
calcium

        fdc_id  nutrient_id  amount         name unit_name
51848  1107475         1087   129.0  Calcium, Ca        MG
51849  1107528         1087   107.0  Calcium, Ca        MG
51850  1108007         1087    31.0  Calcium, Ca        MG
51852  1108349         1087   382.0  Calcium, Ca        MG
51853  1108803         1087    33.0  Calcium, Ca        MG
...        ...          ...     ...          ...       ...
59729  2659382         1087    67.0  Calcium, Ca        MG
59730  2659508         1087    31.0  Calcium, Ca        MG
59733  2660573         1087    80.0  Calcium, Ca        MG
59734  2660613         1087   133.0  Calcium, Ca        MG
59741  2661782         1087    83.0  Calcium, Ca        MG

[4005 rows x 5 columns]

In [ ]:
food_nutrient[(food_nutrient["name"] == "Calcium, Ca") & (food_nutrient["amount"] > 30) & (food_nutrient["amount"] < 500)]

food_nutrient.query('name == "Calcium, Ca" and 30 < amount < 500')

food_nutrient[(food_nutrient["name"] == "Calcium, Ca") & food_nutrient["amount"].between(30, 500, inclusive="neither")]

food_nutrient.loc[(food_nutrient["name"] == "Calcium, Ca") & (food_nutrient["amount"] > 30) & (food_nutrient["amount"] < 500)]

CVICENI

In [ ]:
# cvicenie 1
podminka1 = food_nutrient["name"] =='Fiber, total dietary'
podminka2 = food_nutrient["amount"] > 10
vlaknina = food_nutrient[(podminka1) &(podminka2)] 
vlaknina

        fdc_id  nutrient_id  amount                  name unit_name
83666  1114461         1079    10.7  Fiber, total dietary         G
83681  1118500         1079    11.1  Fiber, total dietary         G
83685  1118768         1079    22.9  Fiber, total dietary         G
83701  1122244         1079    17.5  Fiber, total dietary         G
83716  1126144         1079    40.0  Fiber, total dietary         G
...        ...          ...     ...                   ...       ...
91530  2635122         1079    20.0  Fiber, total dietary         G
91545  2638057         1079    15.0  Fiber, total dietary         G
91584  2651678         1079    39.5  Fiber, total dietary         G
91598  2654454         1079    10.7  Fiber, total dietary         G
91599  2654695         1079    11.8  Fiber, total dietary         G

[438 rows x 5 columns]

In [38]:
# cvicenie 2
podminka1 = food_nutrient["unit_name"] =='MG'
podminka2 = food_nutrient["amount"] > 100000
error_report=food_nutrient[(podminka1) &(podminka2)] 
error_report.to_csv("error_report.csv")

In [ ]:
#doplnkove cvicenie jmena
jmena = pd.read_csv("jmena.csv")
jmena.describe()
#1 Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60
jmena1 = jmena[jmena["prumerny_vek"]>60]
jmena1

        jmeno  cetnost  prumerny_vek pohlavi      puvod
4       Marie   260526            65       ž  hebrejský
23       Věra   107388            63       ž  slovanský
30  Jaroslava    84556            63       ž  slovanský
38    Ludmila    72750            65       ž  slovanský
40     Zdeňka    69060            61       ž  slovanský
50    Jarmila    59666            65       ž  slovanský
53     Jiřina    55366            64       ž      řecký
64     Vlasta    41736            68       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
71      Marta    38897            63       ž  aramejský
91     Růžena    28952            69       ž  slovanský
99     Zdenka    25416            68       ž  slovanský

In [53]:
#doplnkove cvicenie jmena
#2 Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000
podminka = jmena["cetnost"].between(80000,100000,inclusive="neither")
jmena2 = jmena[podminka]
jmena2["jmeno"].unique()

array(['Veronika', 'Jaroslava', 'Vladimír', 'Tereza', 'Martina'],
      dtype=object)

In [52]:
#doplnkove cvicenie jmena
#3 Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je
podminka = jmena["puvod"].isin(["hebrejský","slovanský"])
jmena3 = jmena[podminka]
#jmena3 = jmena3.drop(columns=['prumerny_vek', 'pohlavi', 'puvod'])
jmena3.shape[0]

52

In [ ]:
#doplnkove cvicenie 2 kriteria #nemam doriesene
#muj pokus
podminka11 = food_nutrient["name"] == "Fatty acids, total saturated"
podminka12 = food_nutrient["amount"] < 1
podminka21 = food_nutrient["name"] == "Fiber, total dietary"
podminka22 = food_nutrient["amount"] > 4
podminka1 = food_nutrient[ (podminka11) & (podminka12) ]
podminka2 = food_nutrient[ (podminka21) & (podminka22) ]
dve_kriteria=food_nutrient[(podminka1) & (podminka2)] 
#reseni
food_nutrient_filtered = food_nutrient[
            (food_nutrient["name"] == "Fatty acids, total saturated") & (food_nutrient["amount"] < 1) |
            (food_nutrient["name"] == "Fiber, total dietary" & (food_nutrient["amount"] > 4)
            ]

In [56]:
food_nutrient["amount"].isna()
food_nutrient[food_nutrient["amount"].isna()]

    fdc_id  nutrient_id  amount                      name unit_name
0  1106032         1257     NaN  Fatty acids, total trans         G
1  1107191         1257     NaN  Fatty acids, total trans         G
2  1107295         1257     NaN  Fatty acids, total trans         G
3  1107475         1257     NaN  Fatty acids, total trans         G