In [1]:
import pandas as pd
path ="https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"
penguins=pd.read_csv(path)

In [2]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [3]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [4]:
penguins["species"].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [ ]:
#Kolik tučňáků má hmotnost vyšší než 5000 gramů?
penguins5000 = penguins[penguins["body_mass_g"] > 5000]
penguins5000.shape[0]

61

In [ ]:
#Které druhy tučňáka mají zastoupení na ostrově Dream?
penguins_dream = penguins[penguins["island"]=='Dream']
penguins_dream["species"].unique()

In [14]:
#Kolik tučňáků má hmotnost menší než 3500 gramů a délku křídla (`flipper`) větší než 200 mm
podminka1 = penguins["body_mass_g"]<3500
podminka2 = penguins["flipper_length_mm"]>200
penguins_test = penguins[ (podminka1)
                        & (podminka2)
                        ]
penguins_test.shape

(1, 8)

In [15]:
#Kolik tučňáků z ostrova Torgersen má ve sloupci `sex` uvedenu hodnotu `female`
podminka1 = penguins["island"]=='Torgersen'
podminka2 = penguins["sex"]=='female'
penguins_test = penguins[ (podminka1)
                        & (podminka2)
                        ]
penguins_test.shape

(24, 8)

In [17]:
#Který rok má nejvíce záznamů
penguins["year"].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64